.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}
.main .icon {
  width: 34px;
}
.main h3 {
  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
  color: #202123;
  margin: 16px 0 10px;
}
.buttonGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.stateBtn {
  margin: 10px 10px 16px 10px; 
}
.active {
  background-color: #DE7B00;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
}